#change-password-popup.popup
    form.popup-content(action='/update_pw' method='POST')
        // Close button
        span.close(title='Close' onclick="hide('change-password-popup');")
            | &times;
        #form-change-password.container
            h2 Change Password
            label(for='password') Current Password
            input#curr-pword(type='password' placeholder='Enter new password' name='password' required='')
            label(for='new-password') New Password
            input#new-pword(type='password' placeholder='Enter new password' name='new_password' required='')
            label(for='rpassword') Repeat New Password
            input#r-new-pword(type='password' placeholder='Repeat new password' name='rpassword' required='')
            button.button-main(type='submit') Save
            div(style='clear: both;')